html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

   .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

#pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }




/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

from {
    top: 0;
  }
  to {
    top: -28em;
  }
}
@-webkit-keyframes scroll-numbers {
  from {
    top: 0;
  }
  to {
    top: -28em;
  }
}
@keyframes scroll-numbers {
  from {
    top: 0;
  }
  to {
    top: -28em;
  }
}

.box {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
  float:left;
}


.box2 {
  display: inline-block;
  width: 300px;
  height: 50px;
  margin: 1em;
  float:left;
}

.spinner {
/*   margin: 0; */
  font-size: 1.5em;
  position: absolute;
  bottom: -40vh;
  left: 25vw;
  width: 50vw;
  z-index: 100;
  -moz-box-shadow: 0px 0px 10px 0px black;
  -webkit-box-shadow: 0px 0px 10px 0px black;
  box-shadow: 0px 0px 10px 0px black;
}
.ooo {
/*   margin: 0; */
  font-size: 1.5em;
  position: relative;
  bottom: 2vh;
  left: 25vw;
  width: 50vw;
  z-index: 100;
  -moz-box-shadow: 0px 0px 10px 0px black;
  -webkit-box-shadow: 0px 0px 10px 0px black;
  box-shadow: 0px 0px 10px 0px black;
}
.spinner footer {
  position: absolute;
  top: 0;
  right: 0;
  width: 15vw;
  height: 100%;
}
.spinner footer .stop {
  width: 100%;
  height: 100%;
}
.spinner .stop {
  display: block;
  margin: 0;
  line-height: 1.5em;
  font-size: 1em;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0 none;
  background: darkorange;
  color: white;
  text-shadow: 0 0 0.5em black;
  text-transform: uppercase;
  outline: 0 none;
}

.roller {	
  background: teal;
  color: white;
  text-shadow: 0 0 0.25em black;
  font-weight: bold;
  width: 35vw;
  height: 2em;
  position: relative;
  overflow: hidden;
}
.roller ul {
  width: 100%;
  position: absolute;
  font-size: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2em;
  height: 2em;
}
.roller ul li {
  display: block;
  text-align: center;
  vertical-align: middle;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#map-canvas{
	height: 600px; 
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
	border: 1px solid #CCC; 
}
.wrap{
	width: 100%;
	margin: 0 auto;
	background:	#D9FFFF;
}

.header li{
	margin-left: 40px;
	list-style-type: none;
	display: inline-block;
}
.header a{
	color: black;
}
.header h1{
	position: absolute;
	bottom: 15px;
	left: 105px;
	font-size: 26px;
	font-family: 華康兒風體W3;
	color: white;
	font-weight: bold;
}
.header img{
	height: 50px;
}
.classify{
	float: right;
	width: 250px;
}
.classify li{
	float: left;
	font-family: 華康兒風體W3;
	font-size: 20px;
	margin-left: 15px;
	margin-right: 25px;
	margin-top: 18px;
}
.classify a{
	margin-top: 10px;
	padding-top: 18px;
	padding-bottom: 18px;
	color: white;
	text-decoration: none;
}
.classify a:hover{
	background: white;
	opacity: 0.98;
	transition:all 0.3s ease;
}
.classify a:hover{
	color: red;
}
.space{
	height: 80px;
}
.index_space{
	height: 55px;
}
.left_space{
	float: left;
	width: 15%;
	height: 100px;
}
.content{
	width: 80%;
	margin-left: 20%;
	margin-bottom: 40px;
}
.content h1{
	font-family: 微軟正黑體;
	font-size: 38px;
	font-weight: bold;
}
.content p{
	font-family: 華康雅風體W3;
	font-size: 26px;
}
.product_unit{
	font-family: 微軟正黑體;
	font-size: 12px;
}
.product_name{
	font-family: 微軟正黑體;
	font-size: 14px;
}
.product_price{
	font-family: 微軟正黑體;
	font-size: 12px;
}
.select_requirement{
	margin:0 auto;
	margin-top:-45px;
	width: 780px;
	height: 530px;
	background: white;
	box-shadow: 0 0 8px 0 #b3b3b3;
	text-align:center;
}
.select_requirement ul{
	margin-top: 20px;
}
.select_requirement li{
	font-family: 華康兒風體W3;
	font-size: 20px;
	font-weight: 900;
}
.select_result{
	float: left;
	padding-left: 90px;
	width: 82%;
	height: 700px;
	text-align: center;
}
.inform{
	list-style-type: none;
}
.product_unit{
	font-family: 微軟正黑體;
	font-size: 12px;
}
.product_name{
	font-family: 微軟正黑體;
	font-size: 14px;
}
.product_price{
	font-family: 微軟正黑體;
	font-size: 12px;
}

.footer p{
	padding-top: 42px;
	padding-bottom: 42px;
}
.clear{
	clear: both;
}
.select_btn{
	margin-top: 15px;
}
 @media only screen and (max-width: 320px) {
.wrap{
	width:320px;	
}	 
.header{
	width: 100%;
	text-decoration: none;
}
.header li{
	text-align: center;
	margin-left: 5%;
}
.header li h1{
top:15px;
left:80px;
font-size: 24px;
}
.select_requirement{
	float: none;
	height: 150px;
	width: 100%;
background:	#D9FFFF;
box-shadow: 0 0 0px 0 #b3b3b3;
}
.select_requirement li{
	text-align: center;

}
#map-canvas{
	width: 320px;
	margin-left: 0%;
	margin-top: 0%;
}
#area{
	width: 100%;
	text-align: center;
}
#category{
	width: 100%;
	text-align: center;
}
.select_btn{
	width: 20% !important;
	position: absolute;
	left: 40%;
}

