body {
  background: #F3F3F3;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow-X: hidden;
  padding: 0;
  position: relative;
}
html.on, html.on body {overflow: hidden;}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #08F;
  opacity: .85;
  *text-decoration: underline;
}
footer, header, section, article, .container {
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
}
section {
  z-index: 2;
  -webkit-tranform: translate3d(0,0,0);
     -moz-tranform: translate3d(0,0,0);
          tranform: translate3d(0,0,0);
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}
section.on {
  -webkit-transform: translate3d(220px,0,0);
     -moz-transform: translate3d(220px,0,0);
          transform: translate3d(220px,0,0);
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}
.container {
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}
img {
  border: 0;
  display: block;
  width: 100%;
}
article {
  background: #FFF;
  display: block;
  margin: 0 auto 40px;
  padding: 0 0 10px;
  width: initial;
}
.box {
  height: initial;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: initial;
}
.box:last-child {
  padding: 20px 40px 0;
  width: initial;
}
.box:first-child:before {
  border-bottom: 8px solid #FFF;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;
  bottom: 0;
  content: "";
  left: 40px;
  margin: 0 auto;
  position: absolute;
}
header {
  background-image: url('/seefood/images/theme2.jpg');
  background-position: center;
  background-size: cover;
  height: initial;
  margin: 0 auto 40px;
  position: relative;
  width: 100%;
  z-index: 2;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}
header:before {
  background: linear-gradient(to top, rgba(0,0,0,.8), rgba(0,0,0,.4), rgba(0,0,0,0));
  bottom: 0;
  content: "";
  height: 400px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}
header img, .box img {
  object-fit: cover;
  width: 100%;
}
header > h1 {
  color: #FFF;
  font-size: 3em;
  left: 50%;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.45);
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
header > h1 > span {
  color: #86FD12;
  text-transform: uppercase;
}
header.on {
  -webkit-transform: translate3d(220px,0,0);
     -moz-transform: translate3d(220px,0,0);
          transform: translate3d(220px,0,0);
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}
#overlay {
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 5;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}
#overlay.on {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(220px,0,0);
     -moz-transform: translate3d(220px,0,0);
          transform: translate3d(220px,0,0);
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}
#menu {
  cursor: pointer;
  font-size: 2em;
  left: 10px;
  opacity: 1;
  padding: 10px;
  position: fixed;
  text-shadow: 0 1px 2px rgba(0,0,0,.15);
  top: 10px;
  visibility: visible;
  width:;
  z-index: 9;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}
#menu .fa {*color: #FFF;}
#menu.on {
  -webkit-transform: translate3d(220px,0,0);
     -moz-transform: translate3d(220px,0,0);
          transform: translate3d(220px,0,0);
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}
#menu.on .fa {*color: green}
h2 {
  color: #333;
  position: relative;
}
h2:before {
  background: #333;
  bottom: -10px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 350px;
}
h3 {
  color: #666;
  display: flex;
  font-size: 16px;
  overflow: hidden;
  position: relative;
}
h4 {
  color: #999;
  font-size: 12px;
  padding: 20px 0 0;
}
h4 > a {margin: 0 auto 0 20px;}
h4 > a:first-child {margin: 0}
h3 > span {
  overflow: hidden;
  position: relative;
  width: 50%;
}
h3 > span:last-child {
  text-align: end;
  position: absolute;
  right: 0;
}
p {
  color: #777;
  font-size: 15px;
  font-style: italic;
  line-height: 20px;
}
ul, li {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.fa {
  color: #EB6565;
}
menu {
  background: #EB6565;
  bottom: 0;
  color: #FFF;
  height: initial;
  left: 0;
  margin: 0 auto;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  width: 220px;
  z-index: 1;
  -webkit-transform: translate3d(-220px,0,0);
     -moz-transform: translate3d(-220px,0,0);
          transform: translate3d(-220px,0,0);
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}
menu.on {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;  
}
menu > .container {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  width: 260px;
}
menu > .container > .box {
  padding: 0;
  width: initial;
}
menu > .container > .box:before {
  display: none;
}
menu > .container > .box li, menu > .container > .box ul  {
  display: block;
  overflow: hidden;
  position: relative;
  text-align: justify;
}
menu > .container > .box li {
  border-top: 1px solid rgba(0,0,0,.15);
  font-size: 18px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
menu > .container > .box li:last-child {
  border-bottom: 1px solid rgba(0,0,0,.15);
}
menu > .container > .box li a {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  -webkit-transition: all .15s ease-in-out;
     -moz-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
}
menu > .container > .box li a:hover {
  background: rgba(0,0,0,.1);
  color: rgba(0,0,0,.5);
}
menu > .container > .box .fa {
  color: inherit;
  margin: 0 10px 0 0;
}
.cite {
  background: #FFF;
  margin: 20px auto 40px;
  padding: 20px 20px;
  text-align: center;
}
.cite p {
  color: #999;
  font-size: 20px;
  font-weight: 200;
  line-height: 28px;
}
.cite blockquote:before {
  color: #ccc;
  font-size: 6em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
@media only screen and (min-width: 580px) {
  p {
    font-size: 15px;
    line-height: 22px;
  }
  header {margin: 0;}
  header:before {
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,.5), rgba(0,0,0,0));
    bottom: 0;
    content: "";
    height: 400px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
  }
  section {overflow: visible;}
  .container {
    margin: -200px auto 0;
    overflow: visible;
    width: 90%;
  }
  article {
    display: block;
    height: auto;
    margin: 0 auto 40px;
    padding: 0;
    width: 100%;
  }
  article > .box:last-child {
    padding: 20px 40px 0;
    width: initial;
  }
  article > .box > img {height: 360px;}
}
@media only screen and (min-width: 760px) {
  .container {width: 720px;}
  header > h1 {
    color: #FFF;
    font-size: 3em;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.45);
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
       -moz-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  /*
  #menu {visibility: hidden;}
  menu {
    background: #151515;
    bottom: auto;
    opacity: 1;
    right: 0;
    width: initial;
    z-index: 9;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
  }
  menu > .container {width: calc(100% - 20px);}
  menu > .container > .box ul, menu > .container > .box li {display: flex;}
  menu > .container > .box li {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: initial;
  }
  menu > .container > .box li a {
    border: 0;
    color: #888;
    font-weight: bold;
  }
  menu > .container > .box li a:hover {
    background: transparent;
    color: #FFF;
  }
  menu > .container > .box li .fa {display: none;}
  */
  article {
    display: flex;
    height: auto;
    margin: 0 auto 40px;
    padding: 0;
    width: 100%;
  }
  article:nth-child(odd), article:nth-child(odd) .box {
    -webkit-transform: rotate3d(0,1,0,180deg);
       -moz-transform: rotate3d(0,1,0,180deg);
            transform: rotate3d(0,1,0,180deg);
  }
  article > .box {width: 50%;}
  article > .box:last-child {
    padding: 20px 20px 0;
    width: calc(50% - 40px);
  }
  .box:first-child:before {
    border-bottom: 8px solid transparent;
    border-left: 8px solid #FFF;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    bottom: auto;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 80px;
  }
}
@media only screen and (min-width: 900px) {
  p {
    font-size: 16px;
    line-height: 24px;
  }
  .container {width: 860px;}
  header > h1 {
    color: #FFF;
    font-size: 4em;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.45);
    top: 50%;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
           transform: translate(-50%,-50%);
  }
  article > .box:last-child {
    padding: 20px 40px 0;
    width: calc(50% - 80px);
  }
}
@media only screen and (min-width: 1100px) {
  .container {width: 980px;}  
  article > .box:last-child {
    padding: 20px 60px 0;
    width: calc(50% - 120px);
  }
}
@media only screen and (min-width: 1200px) {
  .container {width: 1160px;}
  article > .box:last-child {
    padding: 40px 60px 0;
    width: calc(50% - 120px);
  }
}